   body{
  background-color: #EAF6F6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 5%;
  border-width: 5px; 
}

img{
  height: 120px;
  width: 120px;
}

h1{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
  background-color: #d5dde2;
}